	</div>

<div id="page-footer">

<!-- IF false -->
	<div class="navbar panel">
		<div class="inner">

		<ul class="linklist">
			<!-- IF false --><li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF false and U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			<li class="rightside"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE} &bull; <!-- ENDIF --><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		</div>
	</div>
<!-- ENDIF -->
	<div class="bottom-info">
		<!-- IF not S_IS_BOT -->
			<!-- IF S_WATCH_FORUM_LINK --><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a> &bull; <!-- ENDIF -->
			<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a> &bull; <!-- ENDIF -->
			<!-- IF false and U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a> &bull; <!-- ENDIF -->
			<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a> &bull; <!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE} &bull; <!-- ENDIF --><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}
	</div>
	
	<div class="copyright">{CREDIT_LINE}
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br />[&nbsp;<strong><a href="{U_ACP}">{L_ACP}</a></strong>&nbsp;]<!-- ENDIF -->
		<!-- IF U_MCP  --><br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]<!-- ENDIF -->
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>


<!-- INCLUDE syntaxhighlighter3/syntaxhighlighter3.html -->
<script type="text/javascript">
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	var s = document.getElementsByTagName('script')[0];
	ga.src = 'http://static.wowhead.com/widgets/power.js';
	s.parentNode.insertBefore(ga, s);
	})();
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	var s = document.getElementsByTagName('script')[0];
	ga.src = 'http://cdn.openwow.com/api/tooltip.js';
	s.parentNode.insertBefore(ga, s);
	})();
	var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": false }
</script>
</body>
</html>